{% extends '::base.html.twig' %}

{% block body %}
    <h1>List</h1>
    <ul>
        <li><a href="list1.html">link 1</a></li>
        <li><a href="list2.html">link 2</a></li>
        <li><a href="list3.html">link 3</a></li>
    </ul>
{% endblock body %}
