<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="author" content="hxtpoe">
</head>

<body>
{% block body %}
{% endblock body %}
</body>
</html>